<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<link th:href="@{styles.css}" rel="stylesheet">
<meta charset="UTF-8">
<title>Customer Shares Management System</title>
</head>
<body>
<h1>Welcome to your shares management system</h1>
<figure>
    <form action="./checkDetails" method="post">
        Enter Customer ID :
        <br>
        <br>
        <input id="inputBox" type="text" name="customerId">
        <input id="inputButton" type="submit" value="Get Details">
    </form>
</figure>

</body>
</html>